body {
  font-family: Arial, sans-serif;
  background-color: #b7d2ee;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  padding: 20px; 
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
  transition: transform 0.3s ease;
}

.card.highlight {
    background-color: rgb(162, 233, 218);
  box-shadow: 0 0 20px rgb(2, 83, 2);
  transform: scale(1.02);
}

label {
  display: flex;
  margin-top: 10px;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #1a1919;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

div[id^="result"] {
  margin-top: 15px;
  animation: fadeIn 1s ease; 
}
.button-container {
  text-align: center;
  margin-top: 20px;
}